<div class="container">
  <div class="row">
    <div class="col">
      <h2>account info</h2>
      <% if @account.errors.any? %>
        <%= @account.errors.count %>errors prohibited this obj from being saved:
        <ul>
          <% @account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @account do |f| %>
      <div>
        <label>プロフィール画像</label>
        <div>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
        </div>
      </div>
      <div>
        <label>名前</label>
        <div>
          <%= f.text_field :name %>
        </div>
      </div>
      <div>
          <%= f.submit '更新する' %>
      </div>
      <% end %>
    </div>
  </div>
</div>