<div class="container">
  <div class="row">
    <div class="col">
      <div><%= image_tag @account.get_profile_image(100,100) %></div>
      <div><%= @account.name %></div>
      <% if @account == current_account %>
        <%= link_to "編集する" , edit_account_path(@account.id),class:"btn btn-success" %>
      <% end %>
      <div class="col">
        <div class="row">
          <div class="col-6">
            <%= render 'illustration', illustration: @illustration %>
            <%= paginate @illustrations, theme: 'bootstrap-5'  %>
          </div>
          <div class="col-6">
            <%= render 'favorite', illustration: @favorites %>
            <%= paginate @favorites, theme: 'bootstrap-5' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>