<div class="container">
  <div class="row">
    <div class="col">
      <div><%= image_tag @account.get_profile_image(100,100) %></div>
      <div><%= @account.name %></div>
      <% if @account == current_account %>
        <%= link_to "編集する" , edit_account_path(@account.id),class:"btn btn-success" %>
      <% end %>
      <div class="col">
        <div class="row">
          <div class="col-6">
            <% @illustrations.each do |illustration| %>
              <%= link_to illustration_path(illustration.id),data: {"turbolinks"=>false} do %>
                <%= image_tag illustration.get_image(200,200) %></td>
              <% end %>
              <br>
               <table>
                <tr>
                  <th>タイトル</th>
                  <th>コメント</th>
                </tr>
                <tr>
                  <td>
                    <%= link_to illustration_path(illustration.id),data: {"turbolinks"=>false} do %>
                      <%= illustration.title %>
                    <% end %>
                  </td>
                  <td><%= link_to "#{illustration.comments.count} コメント", illustration_path(illustration.id),data: {"turbolinks"=>false} %></td>
                </tr>
              </table>
            <% end %>
            <%= paginate @illustrations, theme: 'bootstrap-5'  %>
          </div>
          <div class="col-6">
            <table>
              <h4>ブックマーク一覧</h4>
              <tr>
                <th>投稿者名</th>
                <th>イラスト</th>
                <th>タイトル</th>
              </tr>
              <% @favorites.each do |favorite| %>
                <tr>
                  <td>
                    <%= link_to illustration_path(favorite.illustration),data: {"turbolinks"=>false} do %>
                      <%= favorite.illustration.account.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to illustration_path(favorite.illustration),data: {"turbolinks"=>false} do %>
                      <%= image_tag favorite.illustration.get_image(100,100) %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to illustration_path(favorite.illustration),data: {"turbolinks"=>false} do %>
                      <%= favorite.illustration.title %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
            <%= paginate @favorites, theme: 'bootstrap-5' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>