<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="text-center">
    <h4>サインアップ</h4>
    <div class="field">
      <%= f.text_field :name, :placeholder=>"名前" %>
    </div>
    <br>
    <div class="field">
      <%= f.email_field :email, :placeholder=>"メールアドレス", autofocus: true, autocomplete: "email" %>
    </div>
    <br>
    <div class="field">
      <%= f.password_field :password, :placeholder=>"パスワード(#{@minimum_password_length}文字以上)", autocomplete: "new-password" %>
    </div>
    <br>
    <div class="field">
      <%= f.password_field :password_confirmation, :placeholder=>"再度パスワード入力", autocomplete: "new-password" %>
    </div>
  </div>
  <br>
  <div class="error">
    <%= render "user/shared/error_messages", resource: resource %>
  </div>
  <div class="text-center">
    <div class="actions">
      <%= f.submit "新規登録",class:"btn btn-success" %>
    </div>
    <br>
    <h4>既に登録済みの方</h4>
    <div>
      <%= link_to "こちら", new_account_session_path %>からログインしてください
    </div>
  </div>
<% end %>