<div class="container">
  <div class="row">
    <h4>イラスト一覧</h4>
    <h2>
      <% if account_signed_in? %>
        <%= link_to new_illustration_path do %>
          <i class="far fa-plus-square"></i>
        <% end %>
      <% end %>
    </h2>
    <%= link_to 'タグ一覧', tags_path, class:"btn btn-secondary" %>
  </div>
  <div class="row">
    <% @illustrations.each do |illustration| %>
      <div class="col-3 text-center">
        <%= link_to illustration_path(illustration.id),data: {"turbolinks"=>false} do %>
          <%= image_tag illustration.get_image(150,150) %>
          <div><%= illustration.title %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>