<div class="container">
  <div class="row">
    <h4>イラスト投稿</h4>
  </div>
  <% if @illustration.errors.any? %>
    <%= @illustration.errors.count %>件のエラーが発生しました
    <ul>
      <% @illustration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <%= form_with model: @illustration do |illustration| %>
      <%= render 'form', illustration: illustration %>
      <%= illustration.submit 'イラストを公開', :name => 'post', class: 'mr-5 btn btn-sm btn-warning text-white' %>
      <%= illustration.submit '下書きに保存', :name => 'draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
    <% end %>
  </div>
</div>