<div class="container">
    <h4>イラスト詳細</h4>
    <div class="row">
        <div class="col">
        <%= image_tag @illustration.get_image(100,100) %>
        </div>
        <div class="col">
            <table>
                <tr>
                    <th>タイトル名</th><td><%= @illustration.title %></td>
                </tr>
                <tr>
                    <th>説明</th><td><%= @illustration.introduction %></td>
                </tr>
                </tr>
            </table>
        </div>
    </div>
    <h3>Tags --></h3>
<ul>
  <%# 該当のPostからアソシエーションでタグを取得 %>
  <% @illustration.tags.each do |tag| %>
    <%# タグを展開 %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>
    </li>
  <% end %>
</ul>
    <div class="text-center">
        <%= link_to "編集する", edit_illustration_path(@illustration),class:"btn btn-success" %>
        <%= link_to "削除する", illustration_path(@illustration), class:"btn btn-sm btn-danger" , method: :delete %>
    </div>
</div>