<div class="container">
  <div><%= notice %></div>
  <h4>イラスト詳細</h4>
  <div class="row">
    <%= link_to @illustration.get_image, "data-lightbox": url_for(@illustration.get_image) do %>
      <%= image_tag @illustration.get_image(500,500), class:"img" %>
    <% end %>
  </div>
  <div class="row">
    <table>
      <tr>
        <th>タイトル名</th>
      </tr>
      <tr>
        <td><%= @illustration.title %></td>
      </tr>
      <tr>
        <th>説明</th>
      </tr>
      <tr>
        <td><%= @illustration.title %></td>
      </tr>
    </table>
  </div>
  <div class="text-center">
    <% if @illustration.account == current_account %>
      <%= link_to "編集する", edit_illustration_path(@illustration),class:"btn btn-success" %>
      <%= link_to "削除する", illustration_path(@illustration), class:"btn btn-danger" , method: :delete, "data-confirm" => "本当にイラストを削除しますか？" %>
    <% end %>
  </div>
  <h4>タグ</h4>
  <ul>
    <%# 該当のPostからアソシエーションでタグを取得 %>
    <% @illustration.tags.each do |tag| %>
      <%# タグを展開 %>
      <li>
        <%= link_to tag.name, tag_path(tag) %>
      </li>
    <% end %>
  </ul>
  <% if @illustration.account == current_account %>
    <% if @illustration.published_at >= Time.current %>
      <h6>予約時刻</h6>
      <%= @illustration.published_at.strftime('%Y/%m/%d %H:%M') %>
    <% end %>
  <% end %>
  <div id="favoriteButton">
    <%= render 'user/illustrations/favorite_button', illustration: @illustration %>
  </div>
  
  <% if @comment.errors.any? %>
    <%= @comment.errors.count %>件のエラーが発生しました
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: [@illustration, Comment.new] do |f| %>
    <%= f.text_area :comment, rows: '4', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
  <p>コメント件数：<%= @illustration.comments.count %></p>
  <% @illustration.comments.each do |comment| %>
    <p><%= image_tag comment.account.get_profile_image(200,200) %></p>
    <%= comment.account.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.account == current_account %>
      <%= link_to "削除", illustration_comment_path(comment.illustration, comment), class:"btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  <% end %>
</div>