<!DOCTYPE html>
<html>
  <head>
    <title>えごころ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" data-turbolinks-track="reload"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript" data-turbolinks-track="reload"></script>
  </head>
  <body>
    <div class="container">
      <nav  class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand p-3" href="/">
          <span><%= image_tag('logo.jpg') %></span>
        </a>
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="p-2">
              <%= link_to "イラスト一覧", admin_illustrations_path, class:"btn btn-info" %>
            </li>
            <li class="p-2">
              <%= link_to "いいね一覧", admin_root_path, class:"btn btn-info" %>
            </li>
            <li class="p-2">
              <%= link_to "アカウント一覧",admin_accounts_path, class:"btn btn-info" %>
            </li>
            <li class="p-2">
              <%= link_to "ログアウト", destroy_admin_session_path, class:"btn btn-danger", method: :delete %>
            </li>
          <% elsif account_signed_in? %>
            <li class="p-2">
              <%= link_to "マイページ", account_path(current_account.id), class:"btn btn-info" %>
            </li>
            <li class="p-2">
              <%= link_to "イラスト一覧", illustrations_path, class:"btn btn-info" %>
            </li>
            <li class="p-2">
              <%= link_to "ランキング", rank_path, class:"btn btn-info" %>
            </li>
            <li class="p-2">
              <%= link_to "アカウント一覧", accounts_path, class:"btn btn-info" %>
            </li>
            <li class="p-2">
              <%= link_to "ログアウト", destroy_account_session_path, class:"btn btn-danger", method: :delete %>
            </li>
          <% else %>
            <li class="p-2">
              <%= link_to "About", about_path, class:"btn btn-info" %>
            </li>
            <li class="p-2">
              <%= link_to "イラスト一覧", illustrations_path, class:"btn btn-info" %>
            </li>
            <li class="p-2">
              <%= link_to "ランキング", rank_path, class:"btn btn-info" %>
            </li>
            <li class="p-2">
              <%= link_to "新規登録", new_account_registration_path, class:"btn btn-success" %>
            </li>
            <li class="p-2">
              <%= link_to "ログイン", new_account_session_path, class:"btn btn-info" %>
            </li>
          <% end %>
        </ul>
      </nav>
      <%= form_tag illustrations_path, :method => 'get' do %> <%#　illustrations_pathはモデル名で読みかえること %>
        <p class="text-right">
          <%= text_field_tag :search, params[:search] %>
          <button  type="submit">
            <i class="fas fa-search"></i>検索
          </button>
        </p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
